{% load staticfiles %}
{% load urls_extras %}
{% load compress %}
<html>
<head>
    <title>ShortIO</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "themes/wed/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "themes/wed/snippet.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "themes/wed/snippet.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/site.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    {% endcompress %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="shortioApp" style="background-image: url('{% get_random_image %}');">
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-static-top pull-right">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /navbar wrapper -->
<div class="bootshape login-form">
    <div class="col-sm-6 col-md-5 col-lg-4 col-sm-offset-2 text-center login-popup-wrap">
        <div class="login-popup">
            <h1 class="title"><strong>ShortIO</strong></h1>
            <aside>all your shorts are belong to us</aside>
        </div>

        <div ng-include="'{% static "js/app/views/url.html" %}'"></div>

    </div>
</div>
{% compress js %}
    <script src="{% static "js/underscore/underscore.js" %}"></script>
    <script src="{% static "js/angular/angular.min.js" %}"></script>
    <script src="{% static "js/angular/angular-resource.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

    <script src="{% static "js/app/app.js" %}"></script>
    <script src="{% static "js/app/controllers/url.js" %}"></script>
    <script src="{% static "js/app/services/url.js" %}"></script>
{% endcompress %}
</body>
</html>